.MovieCard {
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.card_block {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.title_block {
    display: flex;
    flex-flow: column;
    align-items: center;
}